@import 'variable';

h1 {
    color: $red-color;
}
.app {
    .header {
        .my-nav {
            background-color: $gray-color;

            img {
                height: 34px;
            }
        }
        .card-blog-item {
            margin-top: 16px;
        }
    }
}
